<!DOCTYPE html>
<html>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    async function goBack() {
        const url = '/profile'
        axios.get(url);
        window.location.href = url
    }

</script>

<body>
    <div>
        <div>
            <h2>Seus compras</h2>
        </div>
        <div>
            <button onclick="goBack()">Voltar</button>
        </div>
        <div>
            <table>
                <tr>
                    <th>Produto</th>
                    <th>Local</th>
                    <th>Data entrega</th>


                </tr>
                <tbody>
                    <% if(data.length){
                           
                        for(var i = 0; i< data.length; i++) {%>
                    <tr>
                            <td> <%=data[i].nome_produto%></td>
                            <td> <%=data[i].localidade%></td>
                            <td> <%=data[i].data_entrega%></td>
                    </tr>
                    <% }%>
                    <% } %>


            </table>


        </div>

    </div>




</body>

</html>